name: deploy

on:
  push:
    branches: [release]
    tags: ['v*']

permissions:
  id-token: write
  contents: read

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v6.0.1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Node.js 24.x
        # https://github.com/actions/setup-node/releases/tag/v6.1.0
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x

      - name: Cache node modules
        # https://github.com/actions/cache/releases/tag/v4.3.0
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        env:
          cache-name: cache-node-modules
        with:
          path: ${{ github.workspace }}/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: |
          npm install
          tar -cvf node_modules.tar ./node_modules

      - name: Upload node modules
        # https://github.com/actions/upload-artifact/releases/tag/v5.0.0
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: node_modules
          path: node_modules.tar
          if-no-files-found: error
          retention-days: 1

  deploy-staging:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v6.0.1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/actions/deploy-dapp
        with:
          site: staging
          aws-region: us-east-1
          aws-role: arn:aws:iam::769498303037:role/HathorDiceGitHubActionsRoleStaging

  deploy-production:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v6.0.1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/actions/deploy-dapp
        with:
          site: production
          aws-region: us-east-1
          aws-role: arn:aws:iam::769498303037:role/HathorDiceGitHubActionsRoleProduction
